.register_sign_in {
  color: #f5f5f5;
  text-align: center;
  margin-top: 60px;
}
.register_cont .form-group {
  margin-bottom: 25px !important;
}
.register_cont .gender_cont_wrapper {
  margin-bottom: 10px;
  border-bottom: 1px solid #fcd736;
  padding-bottom: 10px;
}
.register_cont .data_wrapper {
  margin-bottom: 10px;
  border-bottom: 1px solid #fcd736;
  padding-bottom: 5px;
}
.register_cont .data_wrapper label {
  margin-right: 20px;
}
@media only screen and (max-width: 1205px) {
  .register_cont .data_wrapper label .data_wrapper label {
    margin-right: 1px;
  }
}
.register_cont .data_wrapper input {
  margin-left: 5px;
  background: transparent;
  border-color: #555;
  color: #eee;
}
.register_cont .data_wrapper input::-webkit-input-placeholder {
  color: #fcd736;
  font-size: 16px;
}
@media only screen and (max-width: 1205px) {
  .register_cont .data_wrapper input .data_wrapper input {
    padding-left: 0 !important;
  }
}
.register_cont .register_links_cont {
  width: 300px;
  margin-left: -10px;
  margin-top: 7px;
}
#home_page_body {
  margin: 0;
  background: #fff;
}
#home_page_body .row {
  margin: 0 !important;
}
#home_page_body hr {
  border-top: 1px solid #ddd;
}
.home_page_background {
  font-family: 'Josefin Sans';
  height: 100vh;
  background: url(../../images/home_background.jpg);
  background-size: cover;
  min-width: 300px;
  color: #f5f5f5;
  margin: 0;
  border-bottom: 8px solid #000;
}
.home_page_background .dark_background {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  font-family: 'Raleway', sans-serif;
  position: absolute;
}
.home_page_background .dark_background .navbar .navbar-nav {
  margin-right: 15px !important;
  margin-top: 5px;
}
.home_page_background .dark_background .navbar .navbar-nav li {
  margin-right: 15px;
}
.home_page_background .dark_background .navbar .navbar-nav li:nth-child(3) a,
.home_page_background .dark_background .navbar .navbar-nav li:nth-child(4) a {
  outline: 1px solid #fff;
  padding-left: 35px;
  padding-right: 35px;
  margin-right: 0px;
  margin-left: 10px;
  font-weight: 400;
  transition: all 0.5s;
}
.home_page_background .dark_background .navbar .navbar-nav li:nth-child(3) a:hover,
.home_page_background .dark_background .navbar .navbar-nav li:nth-child(4) a:hover,
.home_page_background .dark_background .navbar .navbar-nav li:nth-child(3) a:focus,
.home_page_background .dark_background .navbar .navbar-nav li:nth-child(4) a:focus,
.home_page_background .dark_background .navbar .navbar-nav li:nth-child(3) a:active,
.home_page_background .dark_background .navbar .navbar-nav li:nth-child(4) a:active {
  outline: 1px solid #ff8800;
  border-top-color: transparent !important;
}
.home_page_background .dark_background .navbar .navbar-nav li a {
  color: #f5f5f5;
  border-top: 8px solid;
  border-top-color: transparent;
  padding-top: 3px;
  padding-bottom: 9px;
  transition: background 0.3s;
}
.home_page_background .dark_background .navbar .navbar-nav li a:hover {
  color: #ff8800 !important;
  border-top: 8px solid #ff8800;
  background: transparent;
}
.home_page_background .dark_background .navbar .navbar-nav li a:focus {
  color: #ff8800 !important;
  border-top: 8px solid #ff8800;
  background: transparent;
}
.home_page_background .dark_background .navbar .navbar-nav li a:active {
  color: #ff8800 !important;
  border-top: 8px solid #ff8800;
  background: transparent;
}
@media only screen and (max-width: 767px) {
  .home_page_background .dark_background .navbar .navbar-nav li a {
    display: inline-block;
    float: left;
  }
}
.home_page_background .dark_background .welcome_box {
  width: 40%;
  margin: 170px auto;
  text-align: center;
}
.home_page_background .dark_background .welcome_box h1 {
  font-family: 'Yesteryear', cursive;
  font-size: 90px;
  color: #f2bb57;
}
.home_page_background .dark_background .welcome_box h4 {
  font-size: 35px;
}
.home_page_background .dark_background .welcome_box p {
  font-size: 20px;
  color: #ccc;
}
.home_page_background .dark_background .welcome_box a {
  color: #66afe9;
}
#about {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 15px;
}
#about .row {
  margin: 0;
}
#about .berries {
  padding: 5px 25px 5px 45px;
}
#about .berries h1 {
  text-align: center;
  font-size: 39px;
  margin-top: 32px;
  margin-bottom: 0;
}
#about .berries .berry_02 img {
  width: 52px;
  margin-top: 24px;
}
#about .about_content {
  margin-top: 40px;
  margin-bottom: 40px;
}
#about .about_content .about_text {
  padding-right: 20px;
}
#about .about_content .about_text a {
  font-family: 'Raleway', sans-serif;
  outline: 1px solid #000;
  padding-left: 28px;
  padding-right: 28px;
  margin-right: 12px;
  margin-left: 3px;
  color: #000;
  padding: 6px 25px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-weight: 400;
  transition: all 0.5s;
}
#about .about_content .about_text a:hover,
#about .about_content .about_text a:focus,
#about .about_content .about_text a:active {
  outline: 1px solid #ff8800;
  color: #ff8800;
}
#about .about_content .about_img {
  padding-left: 20px;
}
#about .about_content .about_img img {
  width: 432px;
}
#about .about_carousel {
  margin-top: 40px;
  margin-bottom: 40px;
}
#about .about_carousel #myCarousel .carousel-inner {
  height: 350px;
  border-top: 8px solid #000;
  border-bottom: 8px solid #000;
}
.footer {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}
.footer .subscr_wrapper .subscr_title {
  text-align: center;
  margin-bottom: 20px;
}
.footer .subscr_wrapper form p input {
  color: #555;
  width: 100%;
  padding: 10px 16px;
  background: #fff;
  border: 1px solid #999;
}
.footer .subscr_wrapper form p input::-webkit-input-placeholder {
  font-family: 'Josefin Sans';
  font-style: italic;
}
.footer .subscr_wrapper form p input::-moz-placeholder {
  font-family: 'Josefin Sans';
  font-style: italic;
}
.footer .subscr_wrapper form p input:-ms-input-placeholder {
  font-family: 'Josefin Sans';
  font-style: italic;
}
.footer .subscr_wrapper form p input:-moz-placeholder {
  font-family: 'Josefin Sans';
  font-style: italic;
}
.footer .subscr_wrapper form p:last-child input {
  transition: all 0.5s;
}
.footer .subscr_wrapper form p:last-child input:hover,
.footer .subscr_wrapper form p:last-child input:active,
.footer .subscr_wrapper form p:last-child input:focus {
  border: 1px solid #ff8800;
  color: #ff8800;
}
.footer .subscr_wrapper .social_widgets_wrapper {
  margin-top: 20px;
}
.footer .subscr_wrapper .social_widgets_wrapper a {
  margin-right: 15px;
}
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(1) i:hover,
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(1) i:focus {
  color: #5f5fe8;
}
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(2) i:hover,
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(2) i:focus {
  color: #ff8800;
}
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(3) i:hover,
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(3) i:focus {
  color: #d63535;
}
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(4) i:hover,
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(4) i:focus {
  color: #66afe9;
}
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(5) i:hover,
.footer .subscr_wrapper .social_widgets_wrapper a:nth-child(5) i:focus {
  color: #e82c2c;
}
.footer .subscr_wrapper .social_widgets_wrapper a i {
  color: #555;
  font-size: 1.7em;
}
.footer .copyright_wrapper p {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  letter-spacing: 2px;
  line-height: 1.3;
}
.modal-dialog {
  margin: 100px auto !important;
}
.modal-dialog .modal-content {
  background: linear-gradient(rgba(255, 255, 255, 0.8), #ffffff, #ffffff);
  font-family: 'Raleway', sans-serif;
  border-radius: 0px;
}
.modal-dialog .modal-content .modal-header {
  text-align: center;
  padding: 5px 15px;
}
.modal-dialog .modal-content .modal-header button {
  color: #555;
  font-size: 29px;
}
.modal-dialog .modal-content .modal-header h2 {
  font-size: 25px;
  color: #666;
}
.modal-dialog .modal-content .modal-body {
  padding: 30px 15px 35px 15px;
}
.modal-dialog .modal-content .modal-body .form-group {
  position: relative;
  margin-bottom: 5px;
}
.modal-dialog .modal-content .modal-body .form-group .fa {
  color: #847666;
  transition: all 0.5s;
}
.modal-dialog .modal-content .modal-body .form-group .fa:hover {
  color: #66afe9;
}
.modal-dialog .modal-content .modal-body .form-group .fa-envelope:before {
  position: absolute;
  top: 9px;
  right: 5px;
}
.modal-dialog .modal-content .modal-body .form-group .fa-unlock-alt:before {
  position: absolute;
  top: 9px;
  right: 8px;
}
.modal-dialog .modal-content .modal-body .form-control {
  border: 0px;
  border-radius: 0px;
  background: transparent;
  box-shadow: unset;
  padding: 0;
}
.modal-dialog .modal-content .modal-body .form-control:focus {
  box-shadow: unset !important;
}
.modal-dialog .modal-content .modal-body .form_inputs {
  border-bottom: 1px solid #f2bb57;
  color: #847666;
  padding: 0 25px 0 10px;
}
.modal-dialog .modal-content .modal-body .form_inputs::-webkit-input-placeholder {
  color: #847666;
  font-size: 16px;
  font-family: 'Josefin Sans';
  font-style: italic;
}
.modal-dialog .modal-content .modal-body .form_inputs::-moz-placeholder {
  color: #847666;
  font-size: 16px;
  font-family: 'Josefin Sans';
  font-style: italic;
}
.modal-dialog .modal-content .modal-body .form_inputs:-ms-input-placeholder {
  color: #847666;
  font-size: 16px;
  font-family: 'Josefin Sans';
  font-style: italic;
}
.modal-dialog .modal-content .modal-body .form_inputs:-moz-placeholder {
  color: #847666;
  font-size: 16px;
  font-family: 'Josefin Sans';
  font-style: italic;
}
.modal-dialog .modal-content .modal-body label {
  color: #f2bb57;
}
.modal-dialog .modal-content .modal-body button {
  background: #f2bb57;
  color: #fff;
  width: 100%;
  border: 0px;
  border-radius: 0px;
  box-shadow: unset;
  text-shadow: unset;
  margin-top: 40px;
  transition: background 0.5s;
  padding: 5px 20px;
}
.modal-dialog .modal-content .modal-body button:hover,
.modal-dialog .modal-content .modal-body button:focus,
.modal-dialog .modal-content .modal-body button:active {
  background-color: #66afe9 !important;
  color: #f5f5f5;
}
.modal-dialog .modal-content .modal-body .squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fcfff4;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.modal-dialog .modal-content .modal-body .squaredOne label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.modal-dialog .modal-content .modal-body .squaredOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #f2bb57;
  background: -webkit-linear-gradient(top, #f2bb57 0%, #e2c12f 100%);
  background: linear-gradient(to bottom, #c6a929 0%, #bca025 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.modal-dialog .modal-content .modal-body .squaredOne label:hover::after {
  opacity: 0.3;
}
.modal-dialog .modal-content .modal-body .squaredOne .checkbox_lbl {
  color: #847666;
  position: absolute;
  top: 4px;
  left: 37px;
  width: 150px;
}
.modal-dialog .modal-content .modal-body .squaredOne input[type=checkbox] {
  visibility: hidden;
}
.modal-dialog .modal-content .modal-body .squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.modal-dialog .modal-content .modal-body .links_cont {
  width: 300px;
  margin-top: 10px;
}
.modal-dialog .modal-content .modal-body .links_cont a {
  margin-left: 20px;
  color: #66afe9;
  font-weight: 400;
}
@media only screen and (max-width: 400px) {
  .modal-dialog .modal-content .modal-body .login_cont {
    margin-left: 0 !important;
    width: 100% !important;
  }
}
#registerModal .modal-dialog {
  margin: 70px auto !important;
}
#registerModal .modal-sm {
  width: 360px;
}
#registerModal .modal-sm .modal-content .modal-body {
  padding: 0px 15px 35px 15px;
}
#registerModal .modal-sm .modal-content .modal-body .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
#registerModal .modal-sm .modal-content .modal-body button {
  margin-top: 0;
}
#registerModal .modal-sm .modal-content .modal-body label {
  font-style: italic;
}
#registerModal .register_cont .form-group {
  margin-bottom: 25px !important;
}
#registerModal .register_cont .gender_cont_wrapper {
  margin-bottom: 10px;
  border-bottom: 1px solid #fcd736;
  padding-bottom: 10px;
}
#registerModal .register_cont .gender_cont_wrapper label:first-child {
  color: #847666;
  font-style: italic;
}
#registerModal .register_cont .data_wrapper {
  margin-bottom: 10px;
  border-bottom: 1px solid #fcd736;
  padding-bottom: 5px;
}
#registerModal .register_cont .data_wrapper label {
  margin-right: 20px;
  color: #847666;
  font-style: italic;
}
#registerModal .register_cont .data_wrapper input {
  padding: 4px 10px;
  margin-left: 5px;
  background: linear-gradient(#eee, #ddd);
  border-color: #ccc;
  color: #333;
  border: 0px;
  border-bottom: 1px solid #999;
  text-align: center;
  width: 130px;
  margin-left: 10px;
  border-radius: 7px;
  width: 200px;
}
#registerModal .register_cont .register_links_cont {
  width: 300px;
  margin-left: -10px;
  margin-top: 7px;
}
